# MacOS files
.DS_Store

# Local VSCode settings
#.vscode

# ignore maven build folder
time-master/*/target/
time-master/target/

# Application save-files
time-master/core/timeMasterSaveFiles/*.json
time-master/rest/timeMasterSaveFiles/*.json

# Log files
*.log

# Class files
*.class
